<div class="relative flex items-center justify-center min-h-screen">
  <app-test ></app-test>
  <div class="about-me-container max-w-4xl mx-auto p-8 bg-white bg-opacity-60 shadow-md rounded-lg transform transition-all duration-300 hover:scale-105 animate__animated animate__fadeInUp">
    <div class="main-content">
      <div class="education-section mb-12">
        <div id="education-section" class="animate__animated animate__fadeInUp mb-6">
          <p class="text-2xl font-bold text-purple-700">Education</p>
        </div>
        <p class="text-lg text-gray-700">Al Shorouck Academy</p>
        <p class="text-lg text-gray-700">Bachelor of Computer Science</p>
        <p class="text-lg text-gray-700">2022</p>
      </div>

      <div class="projects-section">
        <div id="projects-section" class="animate__animated animate__fadeInUp mb-6">
          <p class="text-2xl font-bold text-purple-700">Projects</p>
        </div>

        <div class="project-card bg-gray-100 p-6 rounded-lg shadow-md mb-6 hover:shadow-lg transform transition-all duration-300 hover:scale-105">
          <h4 class="text-xl font-semibold text-purple-700">Project Name</h4>
          <p class="text-gray-700">Project description goes here. This is a brief overview of what the project entails and its key features.</p>
        </div>

        <div class="project-card bg-gray-100 p-6 rounded-lg shadow-md mb-6 hover:shadow-lg transform transition-all duration-300 hover:scale-105">
          <h4 class="text-xl font-semibold text-purple-700">Project Name</h4>
          <p class="text-gray-700">Project description goes here. This is a brief overview of what the project entails and its key features.</p>
        </div>

        <div class="project-card bg-gray-100 p-6 rounded-lg shadow-md mb-6 hover:shadow-lg transform transition-all duration-300 hover:scale-105">
          <h4 class="text-xl font-semibold text-purple-700">Project Name</h4>
          <p class="text-gray-700">Project description goes here. This is a brief overview of what the project entails and its key features.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
