.intro-section {
  background: url("/assets/images/back.png") no-repeat center center/cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro-section h1, .intro-section p, .intro-section a {
  transition: transform 0.3s ease-in-out;
}
.intro-section h1:hover, .intro-section p:hover, .intro-section a:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
  }
  .intro-section img {
    margin-bottom: 20px;
  }
}
.projects-section {
  background: #c3c9ce;
}
.skills-section {
  background: #fbfcfd;
}
