<div class="relative h-screen bg-cover bg-center">
  <app-test2></app-test2>
  <app-test></app-test>

  <!-- Content at the top -->
  <div class="container mx-auto p-4 bg-white bg-opacity-0 rounded-lg shadow-lg absolute inset-0 flex flex-col justify-center items-center animate-fade-in">
    <h1 class="text-4xl text-gray-100 font-bold mb-4">Welcome to My Portfolio</h1>
    <p class="text-lg text-gray-100 mb-4">Explore my projects and learn more about my work.</p>
    <a routerLink="/portfolio" class="mt-4 inline-block bg-blue-600 text-white py-2 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-300">View Portfolio</a>
  </div>

  <!-- Add the images here with upside-down transformation and separation -->
  <div class="absolute bottom-0 left-0 w-full flex justify-center">
    <div class="flex flex-col items-center space-y-4">
      <img src="assets/images/moon.png" alt="Descriptive Alt Text" class="max-w-full h-auto rounded-lg shadow-lg transform rotate-180">
    </div>
  </div>
  <img src="assets/images/clouds.png" alt="Descriptive Alt Text" class="max-w-full h-auto rounded-lg shadow-lg transform rotate-180">
</div>


